body {
  font-family: "Inter", sans-serif;
  background: #ffcc00;
  margin: 0;
  padding: 2rem;
}

.inbox {
  background: white;
  max-width: 360px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  overflow: hidden;
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.item:last-child {
  border-bottom: none;
}

.item input {
  margin: 15px;
  transform: scale(1.3);
}

.item p {
  margin: 0;
  padding: 15px 0;
  flex: 1;
  user-select: none;
}

.item input:checked + p {
  text-decoration: line-through;
  color: #999;
}
