
html, body {
    height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #c084fc 0%, #7dd3fc 50%, #0d6efd 100%);
  
  /* ---- ESSENCIAIS para centralizar ---- */
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  margin: 0;
}


h1 {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.3px;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

p, span {
  font-size: 1rem;
  font-weight: 400;
}

.small {
  font-size: 0.85rem;
  color: #666;
  font-weight: 300;
}

button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  padding: 0 45px;
  border-radius: 25px;
  border: 5px solid #0d6dfda8;
  height: 50px;
  cursor: pointer;
  transition: 0.4s;
  background: #0366d6;
  color: white;
}

button:hover {
  filter: brightness(1.1);
}