.gameContainer {
  text-align: center;
  margin-top: 40px;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 30px 0;
}

.letterBox {
  width: 50px;
  height: 60px;
  background: #0d1b66;
  border: 2px solid #89a6ff;
  border-radius: 6px;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letterForm input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5rem;
  margin-right: 10px;
}

.letterForm button {
  background: #0d6efd;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.letterForm button:hover {
  background: #0b5ed7;
}

.wrong {
  margin-top: 15px;
  color: #ff0000;
  font-weight: bold;
}
