body {
  margin: 0;
  padding: 0;
  font-family: serif;
  padding-bottom: 500px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.red-title {
  background-color: black;
  color: red;
  padding: 15px;
  border: 5px solid red;
  border-radius: 12PX;
}

.title{
  background-color: #000;
  color: #fff;
}