/* RESET SIMPLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

body {
  background: #fafafa;
  color: #333;
}

/* LAYOUT PRINCIPAL */
.App {
  width: 100%;
  min-height: 100vh;
}

/* NAVBAR */
.navbar {
  width: 100%;
  height: 60px;
  background: white;
  border-bottom: 1px solid #eaeaea;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar h2 {
  font-size: 1.4rem;
  color: #6a5acd;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.2s;
}

.navbar a:hover {
  background: #eee;
}

/* ROTA ATIVA */
.active {
  background: #6a5acd !important;
  color: white !important;
}
