.notfound-container {
  text-align: center;
  padding: 80px 20px;
  color: #333;
}

.notfound-container h1 {
  font-size: 6rem;
  font-weight: 800;
  color: #6a5acd;
  margin-bottom: 10px;
}

.notfound-container h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.notfound-container p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.notfound-btn {
  display: inline-block;
  padding: 12px 25px;
  background: #6a5acd;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
}

.notfound-btn:hover {
  background: #5847c2;
}
